@import './base.css';

body {
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
  min-height: 100vh;
}

#sidenav {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
}
#sidenav h2 {
  margin-bottom: 1rem;
}
#sidenav .path {
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__input {
  flex: 1;
  padding: 0.5rem;
  margin-left: 2rem;
}

.header__button {
}

.table-container {
  flex-grow: 1;
}

.product-display {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.product-display .button-container {
  margin-bottom: 2rem;
}

.product-display .product-container {
  position: relative;
  flex: 1;
  overflow: scroll;
}

.product-reordering {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: center;
  margin-top: 5rem;
}
.product-reordering .item {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: grab;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
